# The map directory to read
gis.map.dir : ../maps/gml/legacy/Kobe


# Optional: The map file to read. Defaults to map.gml
gis.map.file : map.gml
# Optional: The scenario file to read. Defaults to scenario.xml
gis.map.scenario : scenario.xml

gis.map.floor-placement.random=true
gis.map.floor-placement.random.floor-rate.1=40
gis.map.floor-placement.random.floor-rate.2=1
gis.map.floor-placement.random.floor-rate.3=0

gis.map.building-code-placement.random = true
gis.map.building-code-placement.random.code-rate.0=75
gis.map.building-code-placement.random.code-rate.1=20
gis.map.building-code-placement.random.code-rate.2=5
