# Java
*.class

# Log files
*.log
hs_err_pid*

# Gradle
.gradle
build
bin

# IntelliJ project
*.iml
*.ipr
*.iws
.idea

# Eclipse project
.settings
.project
.classpath

# Gradle
.gradle

# Visual Studio Code
.vscode

# Theia IDE
.theia

# General MacOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules
package-lock.json

# Project
logs
jars
lib