# List of class names for populating the perception chooser
startup.perception.options=kernel.standard.StandardPerception kernel.standard.TunableStandardPerception

# List of class names for populating the communication chooser
startup.communication.options=kernel.standard.StandardCommunicationModel kernel.standard.ChannelCommunicationModel

# List of class names for populating the command filter chooser
startup.commandfilters=kernel.standard.FrozenAgentsCommandFilter kernel.standard.DeadAgentsCommandFilter

# Automatically start with the following options
startup.perception.auto=kernel.standard.TunableStandardPerception
startup.communication.auto=kernel.standard.StandardCommunicationModel