# The map directory to read
gis.map.dir : ../maps/2016/NY1/map


# Optional: The map file to read. Defaults to map.gml
gis.map.file : map.gml
# Optional: The scenario file to read. Defaults to scenario.xml
gis.map.scenario : scenario.xml

gis.map.floor-placement.random=true
gis.map.floor-placement.random.floor-rate.1=50
gis.map.floor-placement.random.floor-rate.2=10
gis.map.floor-placement.random.floor-rate.3=4

gis.map.building-code-placement.random = true
gis.map.building-code-placement.random.code-rate.0=75
gis.map.building-code-placement.random.code-rate.1=20
gis.map.building-code-placement.random.code-rate.2=5
