!include common.cfg

# Synonyms
resq-fire.water_capacity: 150000
fire.tank.maximum: 150000

resq-fire.water_refill_rate: 50000
fire.tank.refill_rate: 50000

#New Changes 2013
resq-fire.water_hydrant_refill_rate: 5000
fire.tank.refill_hydrant_rate: 5000

resq-fire.water_distance: 150000
fire.extinguish.max-distance: 150000

fire.extinguish.max-sum: 15000
resq-fire.max_extinguish_power_sum: 15000

# Fire simulator options
resq-fire.rays.dir:rays

resq-fire.wind_speed:0
resq-fire.steel_capacity:1.0
resq-fire.wooden_energy:2400.0
resq-fire.cell_size:5000
resq-fire.air_cell_heat_capacity:0.004
resq-fire.wooden_ignition:47.0
resq-fire.water_thermal_capacity: 20
resq-fire.steel_burning:850.0
resq-fire.concrete_energy:350.0
resq-fire.air_to_air_flow:1.0
resq-fire.gamma:0.2
resq-fire.ambulancecenter_inflammable:false
resq-fire.steel_ignition:47.0
resq-fire.wind_random:0.5
resq-fire.radiation_coefficient: 0.011
resq-fire.steel_energy:800.0
resq-fire.wooden_burning:800.0
resq-fire.refuge_inflammable:false
resq-fire.policeoffice_inflammable:false
resq-fire.air_to_building_flow:0.0015
resq-fire.concrete_burning:800.0
resq-fire.wooden_capacity:1.1
resq-fire.concrete_ignition:47.0
resq-fire.wind_direction:90.0
resq-fire.concrete_speed:0.05
resq-fire.firestation_inflammable:false
resq-fire.steel_speed:0.05
resq-fire.randomseed:102
resq-fire.concrete_capacity:1.5
resq-fire.wooden_speed:0.05
resq-fire.energy_loss:0.86

resq-fire.ray_rate: 0.0025
resq-fire.max_ray_distance: 200000

resq-fire.burn-rate-average: 0.145
resq-fire.burn-rate-variance: 0.02
