comms.channels.count: 5
comms.channels.0.type: voice
# Range of a voice message in mm
comms.channels.0.range: 30000
# Maximum size of a voice message
comms.channels.0.messages.size: 256
# Maximum number of voice messages each agent can utter each timestep
comms.channels.0.messages.max: 1
comms.channels.0.noise.input.dropout.use: yes
comms.channels.0.noise.input.dropout.p: 0.1

# A low-bandwidth, reliable radio channel
comms.channels.1.type: radio
comms.channels.1.bandwidth: 64

# A very high-bandwidth, unreliable radio channel
comms.channels.2.type: radio
comms.channels.2.bandwidth: 2048
comms.channels.2.noise.input.failure.use: yes
comms.channels.2.noise.input.failure.p: 0.2

# A high-bandwidth radio channel that is unreliable on output
comms.channels.3.type: radio
comms.channels.3.bandwidth: 1024
comms.channels.3.noise.output.dropout.use: yes
comms.channels.3.noise.output.dropout.p: 0.1

# A medium-bandwidth radio channel that sometimes fails on input and is unreliable on output
comms.channels.4.type: radio
comms.channels.4.bandwidth: 512
comms.channels.4.noise.input.failure.use: yes
comms.channels.4.noise.input.failure.p: 0.05
comms.channels.4.noise.output.dropout.use: yes
comms.channels.4.noise.output.dropout.p: 0.05

comms.channels.max.platoon: 2
comms.channels.max.centre: 4



comms.standard.say.range: 30000
comms.standard.platoon.max: 4
comms.standard.size.max: 256
