!include common.cfg

# The road clear rate in square meters per timestep per police force
clear.repair.rate: 10
# Maximum distance from a blockage in mm.
clear.repair.distance: 10000
#New Changes 2013
clear.repair.rad: 2000
