comms.channels.count: 6
comms.channels.0.type: voice
# Range of a voice message in mm
comms.channels.0.range: 75000
# Maximum size of a voice message
comms.channels.0.messages.size: 256
# Maximum number of voice messages each agent can utter each timestep
comms.channels.0.messages.max: 1
comms.channels.0.noise.input.dropout.use: yes
comms.channels.0.noise.input.dropout.p: 0.1

# Create a single high-bandwidth, low-reliability channel
comms.channels.1.type: radio
comms.channels.1.bandwidth: 2000
comms.channels.1.noise.input.failure.use: yes
comms.channels.1.noise.input.failure.p: 0.1
comms.channels.1.noise.output.failure.use: yes
comms.channels.1.noise.output.failure.p: 0.05

# Create four low-bandwidth, high-reliability channels
comms.channels.2.type: radio
comms.channels.2.bandwidth: 556
comms.channels.2.noise.output.dropout.use: yes
comms.channels.2.noise.output.dropout.p: 0.01

comms.channels.3.type: radio
comms.channels.3.bandwidth: 1256
comms.channels.3.noise.output.dropout.use: yes
comms.channels.3.noise.output.dropout.p: 0.02

comms.channels.4.type: radio
comms.channels.4.bandwidth: 2056
comms.channels.4.noise.output.dropout.use: yes
comms.channels.4.noise.output.dropout.p: 0.001

comms.channels.5.type: radio
comms.channels.5.bandwidth: 256

comms.channels.max.platoon: 1
comms.channels.max.centre: 1
